/* Genral Style */
a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

video {
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
}

.bg-video::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  /* height: 100%; */
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}

.icon-holder {
  margin: auto;
  background-color: #323230;
  color: #ffa447 !important;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(37, 32, 32);
}

.sec-title {
  font-size: 2.5rem;
  text-align: center;
  margin: auto;
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 0, 0, 0.868);
  width: fit-content;
  color: #e65e24;
}

/* header */
.nav-color {
  background-color: #e65e24;
}

.logo {
  width: 4rem;
}

.lang-flag {
  width: 18px;
  aspect-ratio: 18/ 12;
}

/* Home */
.home-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* footer */
/* contact section */
#contact {
  background-color: #1a7ca6;
  color: #fff;
}

#contact .sec-title {
  border-bottom-color: #fff;
  color: #fff;
}

.contact-text p {
  font-weight: 500;
}

.contact-text a {
  color: #fff;
  text-decoration: none;
}

textarea {
  resize: none;
}

.whats {
  position: fixed;
  left: 3%;
  bottom: 5%;
}

#contact .icon-holder {
  width: 70px;
  height: 70px;
}

.contact-text h4 {
  font-size: 1.125rem;
}

/* skills and projects */
.our-skills {
  padding: 60px 0px 20px;
}

.our-skills img {
  padding: 10px 0px;
  background-color: #fff;
  margin: -45px auto 20px;
  border-radius: 10px;
  width: 90px;
}
.our-skills img {
  color: #f44336;
  font-size: 40px;
  margin: 0 auto;
  display: table;
}
.our-skills .box-shadow {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #a5a5a5;
  padding: 15px;
  border-radius: 10px;
  float: right;
}
.our-skills .box-shadow:hover {
  box-shadow: 0px 0px 10px 0px #a5a5a5;
}
.our-skills p {
  font-size: 15px;
  line-height: 23px;
  color: #a09f9f;
  text-align: center;
}
.our-skills a {
  color: #6b6b6b;
  font-size: 16px;
  float: right;
  text-decoration: none;
  transition: 0.5s;
}
.our-skills h4 {
  text-transform: uppercase;
  text-align: center;
  color: #6b6b6b;
  font-weight: 500;
}

/* about */
.about-title {
  color: #e65e24;
  /* color: #0b60b0; */
}
.about-title2 {
  color: #15769f;
}
@media (max-width: 767px) {
  .about div {
    border-left: 0 !important;
  }
}
/* Services */
.service {
  width: 25%;
  padding: 10px;
  text-align: center;
  float: left;
  border-radius: 4px;
  transition: all 0.3s;
}

.service:hover {
  background-color: #fff;
}

.service:hover i {
  font-size: 2.5rem;
}

.service i {
  font-size: 2.1rem;
  color: #ff305b;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.service h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
  line-height: 1.6rem;
  margin-bottom: 15px;
  color: #15769f;
}

.service p {
  line-height: 25px;
  color: #555;
}
